<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
    <% if @book.cover_image.attached? %>
    <p>
      <strong>Cover image:</strong>
      <%= image_tag @book.cover_image, style: "max-width: 200px;" %>
    </p>
  <% end %>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>

  <%= button_to "Destroy this book", @book, method: :delete %>
</div>
